<div class="card w-75">
  <div class="card-body">
    <h3 class="card-title">Login</h3>
      <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-10">
          <input type="email" class="form-control" [(ngModel)]="loginData.email" >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-10">
          <input class="form-control" type="password" [(ngModel)]="loginData.password"  >
        </div>
      </div>
      <button  class="btn btn-default" (click)=login() >Submit</button>
  </div>
</div>
