<div class="card w-75">
    <div class="card-body">
        <h3 class="card-title">Ingredient's Registration</h3>
<div class="card">
  <div class="card-block">
    <div class="form-group row">
      <label class="col-2 col-form-label">Name of Ingredient</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="newIngredient.name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Price</label>
      <div class="col-10">
        <input class="form-control" type="number" [(ngModel)]="newIngredient.price">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Stock</label>
      <div class="col-10">
        <input class="form-control" type="number" [(ngModel)]="newIngredient.stock">
      </div>
    </div>
      <button (click)='postIngredient()' type="button" class="btn btn-default">Send</button>
  </div>
</div>
</div>
</div>


<div class="card w-75">
    <div class="card-body">
        <h3 class="card-title">Ingredient's list</h3>
<div class="card">
  <div class="card-block">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of webServiceIngredient.ingredients">
          <th scope="row">{{ingredient._id}}</th>
          <td>{{ingredient.name}}</td>
          <td>{{ingredient.price.toFixed(2)}} $</td>
          <td>{{ingredient.stock}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
