<div class="card">
  <div class="card-block">
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Name of Ingredient</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="newIngredient.name"  id="example-text-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-2 col-form-label">Price</label>
      <div class="col-10">
        <input class="form-control" type="number" [(ngModel)]="newIngredient.price"  id="example-number-input">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-number-input" class="col-2 col-form-label">Stock</label>
      <div class="col-10">
        <input class="form-control" type="number" [(ngModel)]="newIngredient.stock"  id="example-number-input">
      </div>
    </div>
      <button (click)='postIngredient()' type="button" class="btn btn-default">Send</button>
  </div>
</div>


<div class="card">
  <div class="card-block">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of webServiceIngredient.ingredients">
          <th scope="row">{{ingredient._id}}</th>
          <td>{{ingredient.name}}</td>
          <td>{{ingredient.price.toFixed(2)}} $</td>
          <td>{{ingredient.stock}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
