<nav class="navbar navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a *ngIf="auth.isAuthenticated"class="navbar-brand" href="#">Welcome {{auth.name}}</a>
    <a *ngIf="auth.isAuthenticated"class="navbar-brand" (click)= "auth.logout()" href="#" >Logout</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button class="nav-link" type="button" class="btn btn-dark" routerLink="/" >Home</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" type="button" class="btn btn-dark" routerLink="/ingredients" >Ingredients</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" type="button" class="btn btn-dark" routerLink="/orders" >Orders</button>
      </li>
      <li class="nav-item">
        <button class="nav-link"  *ngIf="!auth.isAuthenticated" type="button" class="btn btn-dark" routerLink="/register" >Registration</button>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
